<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag 'app', 'bootstrap-loader' %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <header>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-12'>
            <h1>Storigible<small>Blog</small></h1>
            <hr/>
          </div>
        </div>
      </div>
    </header>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-8'>
          <%= yield %>
        </div>
        <div class='col-sm-4'>
          <div class='widget'>
            <h4>About Storigible</h4>
            <p>
            Storigible is a new way to organize and manage
            your possessions.
            </p>
          </div>

          <div class='widget'>
            <h4>Engineering Blog</h4>
            <p>
            Vying for talk of a more technical nature?  Visit 
            our engineering blog.
            </p>
            <p class='text-center'>
              <a href='http://blog.engineering.storigible.com'>Engineering Blog</a>
            </p>
          </div>

          <!--
          <div class='widget'>
            <a href='http://storigible.com' class='btn btn-lg btn-success btn-block'>Signup Now!</a>
          </div>
          -->
        </div>
      </div>
    </div>
    <footer>
      <div class='container'>
      </div>
    </footer>
  </body>
</html>
