<% wrap_layout :layout do %>
  <div class='row'>
    <div class='col-sm-12'>
      <article>
        <h2 class='title'><%= current_page.title %></h2>
        <h5 class='date'><time class='post-date' itemprop='dateCreated' datetime='<%= current_page.date.strftime('%Y-%m-%d') %>'><%= current_page.date.strftime('%b %d, %Y') %></time></h5>
        <%= yield %>
      </article>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <% if current_article.previous_article %>
        &laquo; Previous: <%= link_to current_article.previous_article.title, current_article.previous_article %>
      <% end %>
    </div>
    <div class='col-sm-6 pull-right text-right'>
      <% if current_article.next_article %>
        Next: <%= link_to current_article.next_article.title, current_article.next_article %> &raquo;
      <% end %>
    </div>
  </div>
<% end %>

