---
title: Storigible Blog
pageable: true
per_page: 10
---

<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% article = page_articles.first %>
<h2 class='title'><%= link_to article.title, article %>
<small class='date'><time class='post-date' itemprop='dateCreated' datetime='<%= article.date.strftime('%Y-%m-%d') %>'><%= article.date.strftime('%b %d, %Y') %></time></small>
</h2>
<%= article.body %>

<div id='older-articles'>
  <h3>Older Articles</h3>
  <ul class='unstyled'>
    <% page_articles[1..-1].each_with_index do |article, i| %>
      <li><%= article.date.strftime('%Y-%m-%d') %> &raquo; <%= link_to article.title, article %></li>
    <% end %>
  </ul>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>

